<h1> All Applications </h1>

<% @all_applications.each do |application| %>

    <div id="application_<%= application.id %>">
        <h2> <%= link_to "Application ##{application.id}", "/applications/#{application.id}" %> </h2>
        <p> Applicant: <%= application.name %> </p>
    </div>

<% end %>

