/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 html {
    scrollbar-gutter: stable;
}

 .admin_text {
    color: aliceblue;
    text-decoration: none;
 }

 .admin_text:hover {
    color: rgb(105, 238, 248);
    transition-duration: 1s;
 }

 #admin_link {
    background-color: black;
    text-align: center;
    padding: 2px;
 }

 .status {
    background-color: rgb(30, 30, 30);
    color: rgb(0, 255, 89);    
    padding: 4px 10px;
    font-family: monospace;
    border-radius: 6px;
 }

.status_2 {
    color: rgb(255, 0, 255);    
 }

 #flash_message {
    color: rgb(255, 0, 0); 
 }